<h1>Editing watch</h1>

<% form_for(@watch) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :warning_time %><br />
    <%= f.text_field :warning_time %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :site_id %><br />
    <%= f.select :site_id, Site.all.map { |s| [s.name,s.id] } %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit 'Update' %> or <%= link_to 'Cancel', sites_path %>
  </p>
<% end %>
